{
    "presets": [
        [
            "es2015",
        {
            "module": false
        }
        ],
        "react",
        "stage-1",
        "env"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "styled-components"
    ]
}